{
    "train_path": "data/train_90000.csv",
    "dev_path": "data/dev_12477.csv",
    "embeddings": "glove/vectors.txt",
    "save": "saved_model",
    "model_type": "lstm",
    "vocab": "glove/vocab.txt",
    "num_epochs": 300,
    "batch_size": 64,
    "num_units": 200,

	"no-proj": false,

    "dropout": 0.8,
    "clip_norm": 100,
    "rate": 0.001,

    "use_intra": true,
    "max_epochs": 200,
    "report": 100,
    "verbose": true,
    "optim": "adagrad"
}
